# Host.it account credentials
HOST_USERNAME=your_username
HOST_PASSWORD=your_password

# Host.it SSO endpoint
HOST_SSO_URL=https://sso.host.it/cas/v1/tickets

# Host.it public API
HOST_API_BASE_URL=https://api.host.it/public

HOST_DNS_ZONE=example.com
